.quote {
    display: flex;
    justify-content: flex-end;
    margin-top: 40%;

    h1 {
        color: rgb(132, 141, 49);
        font-family: 'Diplomata SC',
            cursive;
        // display: block;
        font-size: 2rem;

    }
}